/node_modules/
/public/annotations/
/public/components/
/public/css/styleguide/
/public/css/vendor/
/public/fonts/
/public/js/
/public/patterns/
/public/styleguide/
/public/favicon.ico
/public/index.html
/source/_meta/*.mustache
/source/css/vendor/
/source/fonts/styleguide/
/source/js/styleguide/vendor/
/source/js/vendor/
/vendor/
/dependencyGraph.json
