a {
  text-decoration: none;
}

.container {
  margin-top: 20px;
}

.button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

table th {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: var(--finna-color-gray-700);
  text-transform: uppercase;
}
