@import "../../../node_modules/design-token-transformer/build/css/_variables.css";

/* stylelint-disable function-disallowed-list */
:root {
  --finna-spacer: 1rem;
  --finna-spacer-1: calc(var(--finna-spacer) * .25);
  --finna-spacer-2: calc(var(--finna-spacer) * .5);
  --finna-spacer-3: var(--finna-spacer);
  --finna-spacer-4: calc(var(--finna-spacer) * 1.5);
  --finna-spacer-5: calc(var(--finna-spacer) * 3);
}
/* stylelint-enable function-disallowed-list */
