.finna-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  * {
    padding: 5px 10px;
  }
  dt {
    font-weight: normal;
  }
  li,
  dd {
    border-radius: .5em;
    background-color: #f4f4f4;
  }
}
